.body{
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 62px;
    display: grid;
  }
  
  .adminAct{
    grid-area: content;
    grid-column-start: 3;
    grid-column-end: 9;
    height: max-content;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 62px;
  }
  
  .adminActItem{
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 8px;
    color:white;  
    background-color: #1E46DC;
  }
  .adminActItem:hover{
    color:#1E46DC;  
    background-color: #C8D3FF;
  }


